:root {
  --background-primary: #834fa0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: var(--background-primary);
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-regular);
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 43.75rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 2rem 0;
}
