.cardHeader {
  background: #ef4a84;
  padding: 1.875rem 2rem;
  min-height: 150px;
  display: flex;
  align-items: center;
}

.cardHeader p {
  margin-bottom: 0;
  text-align: center;
}

.cardOptions {
  background: #fff;
  padding: 1.875rem 2rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardOptions label {
  color: #212529;
  margin-left: 0.5rem;
}
